# -----------------------------------------------------------------------------
# APP CONFIGURATION
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# DATABASE (PostgreSQL)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DB_NAME
# -----------------------------------------------------------------------------
DATABASE_URL=postgresql://postgres:password@localhost:5432/inventa

# -----------------------------------------------------------------------------
# AUTHENTICATION (Better Auth)
# Generate secret baru di terminal: openssl rand -base64 32
# -----------------------------------------------------------------------------
BETTER_AUTH_SECRET=masukan_random_secret_string_disini
BETTER_AUTH_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# SECURITY (Cloudflare Turnstile)
# Dapatkan key dari dashboard Cloudflare Turnstile
# Untuk testing, bisa gunakan dummy keys: 1x00000000000000000000AA (Site Key)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# -----------------------------------------------------------------------------
# SEEDER CONFIGURATION
# Password default untuk akun yang digenerate oleh command db:seed
# -----------------------------------------------------------------------------
DEFAULT_PASSWORD=InventaUnila2026!$

# -----------------------------------------------------------------------------
# EMAIL SERVICE (SMTP)
# Konfigurasi default ini untuk Mailhog/Mailpit (Local Testing)
# -----------------------------------------------------------------------------
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@inventa.fmipa.unila.ac.id